<input type="hidden" id="DesignationMastersController" value="DesignationMastersController" />

<a href="Create"> <span class="btn-success glyphicon glyphicon-plus">ADD</span> </a>
<h4>DesignationMasters/Index</h4>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="tblStudent">
            <thead>
                <tr style="background-color:maroon;color:white">
                    <th scope="col">DESIGNATION</th>
                    <th scope="col">Edit </th>
                    <th scope="col">View </th>
                    <th scope="col">Delete </th>

                </tr>
            </thead>
        </table>
    </div>
</div>