<div class="text-center">
    <h1 style="color:darkgoldenrod;font-size:50px">
        VENU SOFTWARES
    </h1>
   
</div>



<div class="col-lg-12">

    <div class="col-lg-5" style="text-align:right" >
        <img src="~/pp.jpg" height="250px" class="avatar" />
    </div>
    <div class="col-lg-6" style="color: darkgoldenrod">

        <br /> <br />
        <p> ADDRESS :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    MUTHANMPALAYAM TIRUPUR - 641606</p>
        <p> MOBILE NO: &nbsp;&nbsp;&nbsp;     95780 45632</p>
        <p> WEBSITE:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    www.venusoftwares.com</p>
        <p> EMAIL ID:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     venusoftwaress@gmail.com</p>
        <p>BANK ACCOUNT:   313001011000907</p>
        <p> IFSC CODE:  &nbsp;&nbsp;&nbsp;    VIJB0003130</p>
        <p> ACOUNT HOLDER:&nbsp;&nbsp;  SABARISHKUMAR</p>
    </div> 
</div>
<div class="col-lg-12" style="color:blue;font-size:25px">
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />  <br />
    <br />
    <br />  <br />
    <br />
 
    <marquee width="100%" direction="Left" height="100%">ALL BILLING, CMS, HRMS  SOFTWARES AND MOBILE APPS ANDROID, IOS APPS AVAILABLE HERE.  </marquee>
</div>




